body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

div a {
    font-size: 24px;
}

a.station-link {
    font-size: 80px;
}

.fresh {
    background-color: palegreen
}

.recent {
    background-color: yellow
}

.stale {
    background-color: sandybrown
}

.dead {
    background-color: red
}

table.timetable {
    border-collapse: collapse;
}

table.timetable td {
    border: 1px solid;
}
